@import url('https://fonts.googleapis.com/css?family=Poppins');

@media (prefers-color-scheme: light) {
    :root {
      --text: #171717;
      --supplemental-text: #777777;
      --background: #f9f1e1;
      --primary: #fdeb9b;
      --secondary: #f6d465;
      --accent: #ca852b;
      --dark-accent: #ffe2a8;
      --keyword: #36a460;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #171717;
        --supplemental-text: #777777;
        --background: #171717;
        --primary: #f6d465;
        --secondary: #fdeb9b;
        --accent: #ca852b;
        --dark-accent: #313131;
        --keyword: #36a460;
    }
}

html {
    font-family: "Poppins" !important;
    font-size: 100%;
}

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

p, input {
    padding-left: 2%;
    padding-right: 2%;
    margin: 0%;
    background-color: transparent;
    border: none;
    font-size: 100%;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Poppins';
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    color: var(--accent);
    font-weight: 700;
    margin: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

a {
    color: var(--accent);
}

.title {
    font-size: 300%;
    font-weight: 1000;
}

.subtitle {
    font-style: italic;
    font-weight: 800;
    font-size: 180%;
}

.input-field {
    display: inline;
}

.input-field.prompt {
    font-style: italic;
}

.input-field.example {
    color: var(--supplemental-text);
}

.keyword {
    color: var(--keyword);
}

p#copyright {
    font-size: 14px;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 150px;
	color: #666666;
}

div {
    border-radius: 20px;
}

div.card {
    background-color: var(--primary);
    max-height: fit-content;
    border-radius: 20px;
}

div.subcard {
    background-color: var(--secondary);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.subcard p, div.subcard input {
    color: var(--text);
    padding: 4%;
}

div.subcard input {
    border-radius: 21px;
    background-color: var(--primary);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.cyclable {
    display: none;
}

.cyclable.active {
    display: block;
}

.button-card {
    background-color: var(--dark-accent);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
}

button.div-button {
    background-color: transparent;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
}

.outline-only {
    color: var(--background);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--accent);
}

.color-gradient {
    background: -webkit-linear-gradient(bottom right, var(--accent), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

table, tr, td {
    border: none;
}

td.left {
    width: 66%;
}

td.right {
    width: 34%;
}