<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<title>Thankinator</title>
	</head>
	<body>
		<div>
			<!-- Title Section -->
			<div>
				<h1 class="title">Thankinator</h1>
				<h4 class="subtitle"><span class="color-gradient">Scalable </span> <span class="outline-only">Sincerity</span></h4>
			</div>

			<!-- Content Section -->
			<div class="container">
				<div style="flex: 2">
					<div class="subcard">
						<p>Produce any number of personalized thank-you notes from a spreadsheet.</p>
					</div>
					<div class="subcard">
						<p>Have complete control over the content of your notes with live previews.</p>
					</div>
					<div class="subcard">
						<p>Easily add personalizations like photos.</p>
					</div>
				</div>

				<!-- Donation Link Section -->
				<div class="card" style="flex: 1">
					<h3 style="padding-left: 2%">Does this tool make your life easier?</h3>
					<p>Consider buying me a coffee to say thanks!</p>
					<div style="padding: 4%">
						<a href="https://www.buymeacoffee.com/jarmyrs"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=jarmyrs&button_colour=000000&font_colour=ffffff&font_family=Poppins&outline_colour=ffffff&coffee_colour=f9f1e1" /></a>
					</div>
				</div>
			</div>
		</div>
		<div id="intellectualprop">
			<p id="copyright">Copyright &copy; <script>document.write(new Date().getFullYear())</script> J. Matthew Myers. All Rights Reserved</p>
		</div>
	</body>
</html>
