{% extends 'base.html' %}

{% block content %}
<body>
    <div>
        <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />

        <div class="home-container">
            <div class="home-header"></div>
            <div class="home-hero">
                <div class="home-hero1">
                    <div class="home-container01">
                        <h1 class="home-hero-heading heading1">Gratiforge</h1>
                        <span class="home-hero-sub-heading">
                            Express your thanks with ease.
                        </span>
                        <div class="home-btn-group">
                            <button class="home-hero-button1 button" onclick="scrollToForm()">Get Started</button>
                            <script>
                                function scrollToForm() {
                                  // Get the form element by its ID
                                  var formElement = document.getElementById('form');
                            
                                  // Scroll to the form using smooth behavior
                                  formElement.scrollIntoView({ behavior: 'smooth' });
                                }
                              </script>
                            <button class="home-hero-button2 button" onclick="scrollToFeatures()">
                                Learn More&nbsp;→
                            </button>
                            <script>
                                function scrollToFeatures() {
                                  // Get the features element by its ID
                                  var featuresElement = document.getElementById('features');
                            
                                  // Scroll to the features using smooth behavior
                                  featuresElement.scrollIntoView({ behavior: 'smooth' });
                                }
                              </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-details">
                <table class="home-details1">
					<tr>
						<td>
							<span class="home-text sectionTitle">
								<span>Details</span>
								<br />
							</span>
							<h2 class="home-details-heading heading2">
								Powerful. Scalable. Sincere.
							</h2>
						</td>
					</tr>
                    <tr>
						<td class="details-panel">
							<div class="home-container02">
								
								<span class="home-details-sub-heading">
									Express your gratitude to a larger audience than ever before.
									With our intuitive interface, you can easily describe your
									event, submit your data, and download your mailing-ready
									gratitude letters in a matter of seconds. Experience the
									efficiency and convenience today.
								</span>
							</div>
						</td>
						<td class="details-panel" style="scale: 3; justify-content: right;">
							<div style="width: 33%; padding: 4%;">
								<table>
									<tr>
										<td style="padding: inherit;">
											<span class="material-symbols-outlined">
												history_edu
											</span>
											<span class="material-symbols-outlined">
												speed
											</span>
											<span class="material-symbols-outlined">
												print
											</span>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
                </table>
            </div>
            <div id="features" class="home-features">
                <div class="home-features-container">
                    <div class="home-features1"form>
                        <div class="home-container03">
                            <span class="home-text03 sectionTitle">
                                <span>features</span>
                                <br />
                            </span>
                            <h2 class="home-features-heading heading2">Key Features</h2>
                            <span class="home-features-sub-heading">
                                Discover the capabilities of Gratiforge.
                            </span>
                        </div>
                        <div class="home-container04">
                            <div class="home-feature-card">
                <span class="material-symbols-outlined" style="padding-right: 5%; font-size: 48px">
                    event
                </span>
                                <div class="home-container05">
                                    <h3 class="home-text06 heading3">Event description</h3>
                                    <span class="home-text07">
                                        Describe your event by title, location, timeframe, and
                                        more.
                                    </span>
                                </div>
                            </div>
                            <div class="home-feature-card1">
                <span class="material-symbols-outlined" style="padding-right: 5%; font-size: 48px">
                    upload
                </span>
                                <div class="home-container06">
                                    <h3 class="home-text08 heading3">Data Upload</h3>
                                    <span class="home-text09">
                                        Upload an .xlsx file from any application, such as
                                        Microsoft Excel or Google Sheets.
                                    </span>
                                </div>
                            </div>
                            <div class="home-feature-card2">
                <span class="material-symbols-outlined" style="padding-right: 5%; font-size: 48px">
                    tune
                </span>
                                <div class="home-container07">
                                    <h3 class="home-text10 heading3">Letter Customization</h3>
                                    <span class="home-text11">
                                        Make any modifications to the pre-generated template, such
                                        as the addition of corporate branding or a hand-written
                                        signature.
                                    </span>
                                </div>
                            </div>
                            <div class="home-feature-card3">
                <span class="material-symbols-outlined" style="padding-right: 5%; font-size: 48px">
                    download
                </span>
                                <div class="home-container08">
                                    <h3 class="home-text12 heading3">
                                        Download Generated Letters
                                    </h3>
                                    <span class="home-text13">
                                        Receive your generated letters in a compressed file
                                        archive, with accompanying envelopes for mailing.&nbsp;
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-get-started">
                <div id="form" class="home-get-started1">
                    <div class="home-container09">
                        <span class="home-text14 sectionTitle">
                            <span>Get Started</span>
                            <br />
                        </span>
                        <h2 class="home-get-started-heading heading2">
                            Provide some information to get started...
                        </h2>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <form action="/upload" method="post" enctype="multipart/form-data">
                                    <div id="form-div">
                                        <table id="form-table">
                                            <tr>
                                                <td>
                                                    <div class="home-container11">
                                                        <span class="home-text17 heading3">event info</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span>What was the event?</span>
                                                </td>
                                                <td class="flow-prompt">
                                                    <span class="example-text">...thank you for attending our </span>
                                                </td>
                                                <td class="flow-prompt">
                                                    <input
                                                    type="text"
                                                    placeholder="fundraiser"
                                                    id="event-name"
                                                    name="Event Name"
                                                    class="home-textinput input"
                                                    />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span>When was the event?</span>
                                                </td>
                                                <td class="flow-prompt">
                                                    <span class="example-text">...we valued the opportunity to see you </span>
                                                </td>
                                                <td class="flow-prompt">
                                                    <input
                                                    type="text"
                                                    placeholder="last week"
                                                    id="timeframe"
                                                    name="Timeframe"
                                                    class="home-textinput1 input"
                                                    />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span>Where was the event?</span>
                                                </td>
                                                <td class="flow-prompt">
                                                    <span class="example-text">...glad we could gather together at </span>
                                                </td>
                                                <td class="flow-prompt">
                                                    <input
                                                    type="text"
                                                    placeholder="the Queen City Club"
                                                    id="location"
                                                    name="Location"
                                                    class="home-textinput2 input"
                                                    />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="home-container10">
                                                        <input type="file" name="file" accept=".xlsx">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="home-container12">
                                                        <button type="submit">Upload</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </form>
                            </td>
                            <td id="donation-card">
                                <div class="home-container13">
                                    <h3 class="home-text06 heading3">Does this tool make your life easier?</h3>
                                    <span class="home-text07">
                                        Consider buying me a coffee to say thanks!
                                    </span>
                                    <a href="https://www.buymeacoffee.com/jarmyrs"><img src="https://img.buymeacoffee.com/button-api/?text=&emoji=&slug=jarmyrs&button_colour=171717&font_colour=f9f1e1&font_family=Poppins&outline_colour=f9f1e1&coffee_colour=f9f1e1" /></a>    
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="home-faq">
                <div class="home-faq-container">
                    <div class="home-faq1">
                        <div class="home-container30">
                            <span class="home-text46 sectionTitle">
                                <span>FAQ</span>
                                <br />
                            </span>
                            <table class="home-faq-table">
                                <tr>
                                    <td>
                                        <h2 class="home-text49 heading2">Common questions</h2>
                                        <span class="home-text50">
                                        <span>
                                            Here are some of the most common questions that we get.
                                        </span>
                                        </span>
                                    </td>
                                    <td>
                                        <div class="home-container31">
                                            <div class="question-container">
                                                <span class="question-text heading4">
                                                <span>What is the purpose of Gratiforge</span>
                                                </span>
                                                <span class="question-text1">
                                                <span>
                                                    Gratiforge is a web application which allows users to
                                                    generate gratitude letters from a spreadsheet of attendee
                                                    information.
                                                </span>
                                                </span>
                                            </div>
                                            <div class="question-container">
                                                <span class="question-text heading4">
                                                <span>What types of data can users enter?</span>
                                                </span>
                                                <span class="question-text1">
                                                <span>
                                                    The parameters a user can specify depend on their selected
                                                    plan. Basic users can enter an event name, and the name of the
                                                    signee of each letter. Pro users can enter the basic parameters,
                                                    and can save or upload their own parameterized templates.
                                                    Enterprise users can use the basic and pro features, and can
                                                    specify the structure of their data rather than modifying it
                                                    to fit the standard structure of the app.
                                                </span>
                                                </span>
                                            </div>
                                            <div class="question-container">
                                                <span class="question-text heading4">
                                                <span>How can users upload a spreadsheet?</span>
                                                </span>
                                                <span class="question-text1">
                                                <span>
                                                    Users can upload a spreadsheet by clicking on the
                                                    'Upload' button and selecting the file from their device.
                                                </span>
                                                </span>
                                            </div>
                                            <div class="question-container">
                                                <span class="question-text heading4">
                                                <span>What file formats are supported for uploading?</span>
                                                </span>
                                                <span class="question-text1">
                                                <span>
                                                    Any spreadsheets in .xlsx format are supported for
                                                    uploading.
                                                </span>
                                                </span>
                                            </div>
                                            <div class="question-container">
                                                <span class="question-text heading4">
                                                <span>
                                                    How many generated files will be included in the
                                                    downloaded zip archive?
                                                </span>
                                                </span>
                                                <span class="question-text1">
                                                <span>
                                                    The number of generated files included in the downloaded
                                                    zip archive will depend on the data in the spreadsheet.
                                                    Each row in the user's spreadsheet should represent one
                                                    recipient entity, and thus one letter.
                                                </span>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}